doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title NomadZoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 NomadZoom
        main
            div#welcome
                h2 Hi! This is NomadZoom🎃
                h4 Change Your Nickname
                form#nickname
                    input(placeholder="nickname", required, type="text")
                    button Save
                h4 Create Your Room
                form#create-room
                    input(placeholder="room name", required, type="text")
                    button Enter Room
                h4 Opened Rooms
                form#for-layout
                    ul
            div#room
                h2
                h4 Chat
                form#for-layout1
                    ul
                form#message
                    input(placeholder="message", required, type="text")
                    button Send
                button#back Back
        
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js")
        // script(src="/public/app.js")